[Interface]
Address = {{interfaceaddress}}
Address = {{internaladdress}}
SaveConfig = true
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE;iptables -t nat -A POSTROUTING -o ens10 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE; iptables -t nat -D POSTROUTING -o ens10 -j MASQUERADE
ListenPort = {{listenport}}
PrivateKey = {{PrivateKey}}

[Peer]
PublicKey = {{CPublicKey}}
AllowedIPs = {{vpnclientadd}}
Endpoint = {{publicip}}:{{listenport}}
